* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body,
.quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: rgba(255, 170, 170, 0.6);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.username {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 1.5rem;
    color: rgb(224, 152, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.maxscore {
    position: absolute;
    top: 6.5rem;
    left: 2rem;
    font-size: 1.5rem;
    color: rgb(224, 152, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 8rem;
    left: 2rem;
    font-size: 1.5rem;
    color: rgb(224, 152, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.round {
    position: absolute;
    top: 9.5rem;
    left: 2rem;
    font-size: 1.5rem;
    color: rgb(224, 152, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: rgb(216, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid rgb(134, 22, 22);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: rgb(0, 194, 0);
}

.incorrect {
    color: rgb(145, 0, 19);
    text-decoration: underline;
}

.rank {
    position: absolute;
    top: 1rem;
    left: 8rem;
    font-size: 1.5rem;
}

.rank a {
    text-decoration: none;
}

.home {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
}

.home a {
    text-decoration: none;
}

.back {
    position: absolute;
    top: 1rem;
    left: 5rem;
    font-size: 1.5rem;
}

.back a {
    text-decoration: none;
}