.upload_zone {
    cursor: pointer;
}

.upload_zone_enter {
    border: 5px dashed rgb(0, 0, 0);
    background-clip: content-box;
}

.preview_image {
    padding: 0;
    margin: 0;
}

.home {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
}

.home a {
    text-decoration: none;
}

