body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url("../res/background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(7px)
}

.container {
    background-color: rgba(255, 170, 170, 0.6);
    padding: 1rem;
    border-radius: .5rem;
    width: 650px;
    max-width: 90%;
}

.home {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
}

.home a {
    text-decoration: none;
}

.back {
    position: absolute;
    top: 1rem;
    left: 5rem;
    font-size: 1.5rem;
}

.back a {
    text-decoration: none;
}

.Btnrecord {
    background-color:#681a1a;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}


.Btnstop{
    background-color:#681a1a;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}

.Btnplay{
    background-color:#803d3d;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}

.Btnalienbotplay{
    background-color:#803d3d;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}

.Btnreversetimeplay{
    background-color:#803d3d;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}

.Btnrobotplay{
    background-color:#803d3d;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}

.Btnastronautplay{
    background-color:#803d3d;
    color:#fff;
    border-radius:5px;
    width: 100px;
    cursor:pointer;
}